*{
    transition: 0.3s;
}
html{
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    height: 100svh;
    display: flex;
    flex-direction: row-reverse;
}
label{
    font-size: 0.8rem;
    font-weight:lighter;
}
input{
    border-radius: 5px;
    margin-top: 5px;
}
p{
    width: 70%;
    font-weight:bold;
    margin-left: 3%;
    margin-right: 3%;
    background: linear-gradient(90deg, rgba(19,4,170,1) 0%, rgba(159,97,230,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
    
}
.bubble{
    position: absolute;
    top: calc(50% - 50px);
    left: calc(100% - 50px);
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow:hidden;
}

#create-account{
    margin-left: 3%;
    font-weight: bold;
    background: rgba(103,89,241,1);
    width: 150px;
    height: 50px;
    border-radius: 7px;
    padding: 5px;
    box-shadow: 4px 4px 3px grey;

}
.adjacent{
    display: flex;
    gap: 30px;
}
#sign-up-form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px;


}
#sign-up-box{
    position: relative;
    border-radius: 4px;
    width: 100%;
    background: rgb(103,89,241);
    background: linear-gradient(90deg, rgba(103,89,241,1) 0%, rgba(31,249,246,1) 100%);
}
#left-content{

    background-image: url(https://4kwallpapers.com/images/walls/thumbs_3t/8801.jpg);
    background-size: auto 100%;

   
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 40%;
    transition: 0.3s;
}

#right-content{
    
    background-color: #9eacf0;
    flex: 1 1 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    
}
#right-content:hover + #left-content{
    animation: gradient 200s linear infinite;
}
#right-content:hover + #left-content > #banner{
    backdrop-filter: blur(20px);
    background-color: transparent;
    color: transparent;
    height: 100%;

}
#right-content:hover {
    flex: 1 1 70%;
}
#right-content:hover > p{
    font-size: 1.1rem;
}
#sign-up-box:hover, #create-account:hover{
    padding-top: 10px;
    padding-bottom: 10px;
}
@keyframes gradient{
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#banner{
    height: 100px;
    display: flex;
    justify-content: center;
    background-color: black;
    opacity: 50%;
    color: white;
    font-size: 2rem;
    align-items: center;
    transition: 0.3s
}

@media only screen and (max-width:800px){
    body{
        flex-direction: column-reverse;
    }
    #right-content,#sign-up-form{
        text-align: center;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    #left-content{
        background-size: 200% 300%;
    }
    #create-account{
        margin-left: 0px;
    }
}
